<!doctype html>
<html lang="en">

<head>
    <title>Products</title>
</head>

<body>
    {% if error_message %}
    <p>Wrong source</p>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in my_dict %}
            <tr>
                {% for key, value in product.items() %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}
</body>

</html>